* text=auto
*.css linguist-vendored
*.scss linguist-vendored

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

*.png binary
*.bmp binary
*.ico binary
*.jpg binary
*.ttf binary