/vendor
/node_modules
/public/storage
/bower_components
/.vagrant
/.idea
/icecast/music/*.mp3
Homestead.yaml
Homestead.json
.env
evartfm.sql
puphpet/config-custom.yaml
.phpstorm.meta.php
_ide_helper.php
/public/news
