@import "transitions";
.owl-theme {
  // Styling Next and Prev buttons
  .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
      position: relative;
      top: -280px;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      width: 30px;
      height: 30px;
      padding-top: 1px;
      line-height: 30px;
      background: #7fc6fc;
      z-index: 5;
      transition: background-color .4s;
      cursor: pointer;
      border-radius: 3px;
      &:not(.disabled){
        &:hover {
          background-color: #0e9ef1;
          text-decoration: none;
          color: #fff;
        }
      }

    }
    .disabled {
      opacity: .2;
      cursor: default;
    }
  }
}





