.owl-efir{
@import "transitions";
  .owl-stage-outer{
    .item {
      height: 475px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      .slider-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: rgba(84,91,101,.5);

        .event-handler{
          display: table;
          width: 90%;
          border-radius: 10px;
          position: absolute;
          height: 30%;
          bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
          time{
            display: table-cell;
            vertical-align: middle;
            background: #52aff7;
            font-family: "Open Sans SemiBold";
            font-size: 30px;
            color: #fff;
            padding: 8px 20px;
            border-radius: 0 10px 10px 0;
          }
          span{
            display: table-cell;
            vertical-align: middle;
            max-width: 225px;
            background: #30373a;
            font-family: "Open Sans Regular";
            font-size: 14px;
            color: #fff;
            padding: 0 20px;
            border-radius: 10px 0 0 10px;

            h4{
              font-family: "Open Sans SemiBold";
              font-size: 24px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}