@import "dashboard/login";
@import "dashboard/adduser";
@import "dashboard/userall";
@import "dashboard/news";
@import "dashboard/schedule";
@import "dashboard/components";
@import "dashboard/radio";

.fullwidth{
  width: 100%;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
}