@import "controller/fontface";
@import "views/index/header";
@import "views/index/main";
@import "views/index/footer";

html {
  background: #212c34;
  overflow-x: hidden;
  body {
    background: #212c34;
    overflow-x: hidden;
    @import "controller/nav";
  }
}