.program{
  //margin-top: -10px;
  margin-top: -30px;
  background: #f6f6f6;
  height: 500px;
  position: absolute;
  width: 100%;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 999;
  color: #657a8b;
  font-family: "Open Sans Regular";
  //&:before{
  //  content: "";
  //  background: #f6f6f6;
  //  position: absolute;
  //  left: -30px;
  //  right: -30px;
  //  top: -50px;
  //  bottom: -60px;
  //  z-index: -1;
  //}
  &:before{
    content: "";
    background: #f6f6f6;
    position: absolute;
    left: -20px;
    right: -20px;
    top: -30px;
    bottom: 0;
    z-index: -1;
  }
  @media (max-width: 1200px){
    &:after{
      left: 686px;
    }
    @media (max-width: 992px){
      position: relative;
      margin-top: 20px;
      margin-bottom: 80px;
      &:after{
        display: none;
      }
      @media (max-width: 768px) {
        width: 95%;
        margin: 20px auto 80px auto;
        &:before{
          left: -5px;
          right: -5px;
          top: -10px;
          bottom: -12px;
        }
      }
    }
  }
  .head{
    overflow: hidden;
    select{
      float: left;
      font-size: 24px;
      background: none;
      border: none;
      padding-bottom: 5px;
      padding-right: 10px;
      margin-top: 10px;
      margin-left: 20px;
      option{
        border: none;
      }
    }
    span{
      font-size: 24px;
      color: #ffffff;
      background: #52aff7;
      padding: 18px;
      float: right;
    }
  }
  .body{
    height: 100%;
    max-height: 440px;
    padding-left: 20px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      right: 20px;
      top: 0;
      height: 20px;
      background: #f6f6f6;
      z-index: 50;
    }
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 20px;
      bottom: 0;
      height: 50px;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#f6f6f6 50%);
      pointer-events: none;
    }
    #program{
      width: 100%;
      height: 100%;
      position: relative;
      transition: all .5s;
      ul{
        position: relative;
        height: 100%;
        padding-top: 20px;
        >li{
          user-select: none;
          height: 70px;
          width: 100%;
          max-width: 440px;
          font-family: "Open Sans Regular";
          border: 1px solid #eaeaea;
          border-bottom: none;
          overflow: hidden;
          transition: .05s;
          &:last-child{
            margin-bottom: 25px;
          }
          &.active{
            transform: scale(1.01);
            background: #fff;
          }
          &:hover{
            background: #fff;
            cursor: pointer;
          }
          .num, .text, time{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
          .num{
            font-size: 24px;
            float: left;
            width: 15%;
            text-align: center;
            span{
              font-size: 16px;
              top: -1px;
              &.glyphicon-triangle-top{
                color: #a3cde5;
              }
              &.glyphicon-minus{
                color: #ebe699;
              }

              &.glyphicon-triangle-right{
                color: #26b145;
              }
            }
          }
          .text{
            float: left;
            width: 65%;
            padding: 0 14px;
            h6{
              font-size: 18px;
              margin: 0;
            }
            p{
              font-size: 12px;
              margin: 0;
            }
          }
          time{
            font-size: 12px;
            color: #bbbbbb;
            float: left;
            width: 20%;
            padding: 0 22px;
          }
          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
      &.ps-container {
        &:hover{
          .ps-scrollbar-y-rail{
            opacity: 1;
            &:hover{
              opacity: 1;
            }
          }
        }
        > .ps-scrollbar-y-rail{
          opacity: 0.5;
          border-radius: 0;
          right: 0!important;
          background: #e7e7e7!important;
          .ps-scrollbar-y{
            background: #69b7f2;
            border-radius: 0;
            //opacity: 1;
          }
        }

      }
    }


  }
}