
footer{
  background: linear-gradient(top, #23282b 0, #080909 100%);
  padding: 20px;
  p{
    font-family: "Open Sans Light";
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
    @media (max-width: 992px){
      display: block;
    }
  }
  img{
    margin-bottom: 10px;
  }

  .socials{
    margin-top: 15px;

    @media (max-width: 1200px){
      margin-top: 35px;

    }
  }
  .sprite{
    background: #212c34 url(../img/socials.png) no-repeat center;
    display: inline-block;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    &.sprite-facebook {
      background-position: 12px 4px;
    }
    &.sprite-twitter {
      background-position: -18px 7px;
    }
    &.sprite-vkontakte {
      background-position: -56px 10px;
    }
  }

}