@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansRegular.woff2') format('woff2'),
  url('../fonts/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSansRegular.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSansBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../fonts/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
  url('../fonts/OpenSansSemiBold.woff') format('woff'),
  url('../fonts/OpenSansSemiBold.ttf') format('truetype')
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansLight.woff2') format('woff2'),
  url('../fonts/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSansLight.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('../fonts/OpenSansLightItalic.eot');
  src: url('../fonts/OpenSansLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansLightItalic.woff2') format('woff2'),
  url('../fonts/OpenSansLightItalic.woff') format('woff'),
  url('../fonts/OpenSansLightItalic.ttf') format('truetype')
}

@font-face {
  font-family: 'Panton Regular';
  src: url('../fonts/Panton-Regular.eot');
  src: url('../fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Panton-Regular.woff2') format('woff2'),
  url('../fonts/Panton-Regular.woff') format('woff'),
  url('../fonts/Panton-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OpenSansItalic.eot');
  src: url('../fonts/OpenSansItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansItalic.woff2') format('woff2'),
  url('../fonts/OpenSansItalic.woff') format('woff'),
  url('../fonts/OpenSansItalic.ttf') format('truetype')
}