.useradd{
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }
  .form-group{
    .required{
      &:after{
        content: "*";
        color: red;
        position: absolute;
      }
    }
  }
}