.page-components{
  .ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
  }

  .sortable{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    .more{
      padding: 20px 0;
    }
  }
  .stars{
    .glyphicon{
      color: rgb(141, 141, 141);
    }
    .active{
      color: #000;
    }
  }
}