@mixin clearfix {
  display: inline-block;
}

@mixin noselect() {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#calendar{
  display: block;
  width: 100%;
  background-color: #2b3944;
  color: #ffffff;
  padding: 5px 10px;
  > div{
    display: block;
    width: 100%;
    text-align: center;
    > div{
      transition: all .2s;
      display: inline-block;
      padding: 3px 5px;
      cursor: pointer;
      @include noselect;
      &.active{
        cursor: default;
        pointer-events: none;
      }
    }
  }
  .calendarYears{
    margin-bottom: 3px;
    .year{
      &.active{
        background: #445a6b;
        border-radius: 5px;
      }
    }
  }
  .calendarMonths{
    margin-bottom: 3px;
    .month{
      &.active{
        background: #445a6b;
        border-radius: 5px;
      }
    }
  }
  .calendarDays{
    $background: #445a6b;
    $text: #fff;
    $shadow: #131a1f;
    $event-background: $text;
    $event-color: #2b3944;
    margin-bottom: 3px;
    .day{
      position: relative;
      font-size: 1.5em;
      line-height: 1.2em;
      text-align: center;
      padding: 2px 5px 1.2rem;
      margin: 0 3px;
      background: $background;
      box-shadow: 0 9px 10px -6px $shadow;
      &.active{
        //border: 1px solid #fff;
        background: $event-background;
        color: $event-color;
        box-shadow: 0 9px 10px -6px invert($shadow);
        &:after{
          background: $background;
          color: $text;
        }
      }
      &:after{
        content: attr(data-events);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: 1rem;
        background: $event-background;
        color: $event-color;
        line-height: 1.2rem;
        padding: 0 5px;
        text-align: center;
      }
    }
  }
  .calendarEvents{
    .event{
      cursor: default;
      div {
        cursor: default;
      }
    }
  }
}
.event{
  display: inline-block;
}



