.user-all{
  .table-striped{
    tbody tr:hover{
      cursor: pointer;
      background-color: #d9edf7;
    }
  }
  .modal{
    table{
      margin-bottom: 0;
      tr{
        td{
          border: none;
          &:nth-child(odd){
            text-align: right;
            font-weight: bold;
            width: 15%;
            border-right: 1px solid #ddd;
          }
          &:nth-child(even){
            position: relative;
            text-align: left;
            width: 85%;
            &:hover{
              cursor: pointer;
              background-color: #d9edf7;
            }
          }
          p{
            padding: 8px;
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
          .bootstrap-select{
            width: 100%;
          }
          .form-group{
            display: none;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}