.user-all{
  .table-striped{
    tbody tr:hover{
      cursor: pointer;
      background-color: #d9edf7;
    }
  }
  .modal{
    table{
      margin-bottom: 0;
      tr{
        td{
          border: none;
          &:nth-child(odd){
            text-align: right;
            font-weight: bold;
            width: 15%;
            border-right: 1px solid #ddd;
            vertical-align: middle;
          }
          &:nth-child(even){
            position: relative;
            text-align: left;
            width: 85%;
            &:hover{
              cursor: pointer;
              background-color: #d9edf7;
            }
          }
        }
      }
      //select{
      //  width: 100%;
      //}
      .form-group{
        margin: 0;
      }
    }
  }
}