.page-components{
  .ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
  }
  .sortable{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    .more{
      min-height: 100px;
    }
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}