.page-components{
  .ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
  }

  .sortable{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    .more{
      min-height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    button{

    }
  }
  .sortableBlockquote{
    .panel-heading{
      padding: 0;
      a{
        h4{
          margin: 0;
          padding: 10px;
        }
      }
    }

    .panel-body{
      img{
        cursor: pointer;
      }
      .stars{
        .glyphicon{
          color: rgb(141, 141, 141);
        }
        .active{
          color: #000;
        }
      }
      textarea{
        display: block;
        width: 100%;
        resize: vertical;
      }
    }
  }
}