@mixin clearfix {
  display: inline-block;
}

@mixin noselect() {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.page-schedule {
  $light-gray: #eee;
  $dark-gray: #ccc;
  $dark-blue: #155394;
  $blue: #79baff;
  $selected-color: #7fffd4;

  #modal{
    #repeat-on{
      display: none;
    }
  }
  #full-clndr {
    width: 100%;
    background-color: $light-gray;
    font-weight: 700;
    -moz-box-shadow: 0px 4px 0 darken($dark-gray, 5%);
    -webkit-box-shadow: 0px 4px 0 darken($dark-gray, 5%);
    box-shadow: 0px 4px 0 darken($dark-gray, 5%);
    .clndr{
      overflow: hidden;
    }

    .clndr-controls {
      padding: 14px;
      background-color: $dark-gray;
      color: white;
      text-align: center;

      .clndr-previous-button {
        float: left;
        text-align: left;
      }

      .clndr-next-button {
        float: right;
        text-align: right;
      }

      .clndr-previous-button, .clndr-next-button {
        width: 30px;
        cursor: pointer;
        @include noselect();
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .clndr-content{
      display: table;
      table-layout: fixed;
      max-width: 100%;
      width: 100%;
    }
    .clndr-grid {
      display: table-cell;
      width: 65%;
      border-right: 2px solid white;
      @media (max-width: 568px) {
        display: table-row;
        width: 100%;
        border-right: none;
      }
      .days-of-the-week {
        width: 100%;
        background-color: $dark-blue;

        .header-day {
          float: left;
          width: 14.2857%;
          padding: 14px;
          text-align: center;
          color: white;
        }
      }

      .days {
        width: 100%;
        overflow: hidden;


        .selected{
          background-color: $selected-color !important;
        }

        .day{
          cursor: pointer;
          &:hover:not(.selected):not(.today){
            background-color: lighten($selected-color, 15%) !important;
          }
        }

        .day, .empty {
          float: left;
          width: 14.2857%;
          height: 66px;
          padding: 24px 0;
          text-align: center;
          color: #4f4f4f;
          background-color: $light-gray;
          border-bottom: 2px solid white;

          //background-image: url('./triangle.svg');
          background-size: cover;
          background-position: center;

          @media (max-width: 668px) {
            height: 38px;
            padding: 6px 0;
          }

          &.event {
            .day-number {
              padding-bottom: 4px;
              border-bottom: 2px solid $dark-blue;
            }
          }

          &.adjacent-month {
            .day-number {
              opacity: 0.3;
            }
          }
        }

        .today {
          background-color: white;
          background-image: none;
        }

      }
    }

    .event-listing {
      display: table-cell;
      width: 35%;
      @media (max-width: 568px) {
        display: table-row;
        width: 100%;
      }
      .event-listing-title {
        padding: 14px;
        background-color: $blue;
        text-align: center;
        color: white;
        letter-spacing: 1px;
        .glyphicon{
          cursor:pointer;
          &:hover{
            color: $selected-color;
          }
        }
      }
      .event-items{
        position: relative;
      }
      .event-item {
        position: relative;
        padding: 14px;
        color: #4f4f4f;
        display: table;
        width: 100%;
        max-width: 100%;

        &:hover {
          background: rgba(0,0,0,.1);
          &.event-item-hover{
            transform: translateX(198px);
          }
        }
        .event-item-hover{
          transition: transform .2s;
          position: absolute;
          transform: translateX(205px);
          text-align: center;
          top: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          background: rgba(0,0,0,.8);
          font-size: 1.4em;
          color: white;
          &:before{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            left: -10px;
            border-style: solid;
            border-width: 35px 10px 35px 0;
            border-color: transparent rgba(0,0,0,0.84) transparent transparent;
            cursor: pointer;
          }
          span{
            @include noselect();
            cursor: pointer;
            margin: 10px 20px;
          }
          @media (max-width: 1199px) {
            font-size: 1.2em;
          }
          @media (max-width: 992px) {
            font-size: 1em;
            span{
              margin: 10px;
            }
          }
        }
        //&:hover:after{
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        //  color: #fff;
        //  cursor: pointer;
        //  content: attr(data-edit);
        //  position: absolute;
        //  top: 0;
        //  bottom: 0;
        //  left: 0;
        //  right: 0;
        //  text-align: center;
        //  background-color: rgba(0,0,0,.4);
        //}
        .event-item-info{
          display: table-cell;
          width: 100%;
          vertical-align: middle;
        }
        .event-item-time{
          display: table-cell;
          width: 1%;
          vertical-align: middle;
          white-space: nowrap;
        }
        @media (max-width: 768px) {
          .event-item-info, .event-item-time{
            display: table-row;
          }
        }
      }
      .event-item-location {
        font-weight: 400;
      }
    }
  }
  #fountainTextG{
    display: block;
    margin:30px auto;
    text-align: center;
  }

  .fountainTextG{
    display: inline-block;
    color:rgb(0,0,0);
    font-family:Arial;
    font-size:34px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    animation-name:bounce_fountainTextG;
    animation-duration:2.09s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    transform:scale(.5);
  }#fountainTextG_1{
     animation-delay:0.75s;
   }
  #fountainTextG_2{
    animation-delay:0.9s;
  }
  #fountainTextG_3{
    animation-delay:1.05s;
  }
  #fountainTextG_4{
    animation-delay:1.2s;
  }
  #fountainTextG_5{
    animation-delay:1.35s;
  }
  #fountainTextG_6{
    animation-delay:1.5s;
  }
  #fountainTextG_7{
    animation-delay:1.64s;
  }

  @keyframes bounce_fountainTextG{
    0%{
      transform:scale(1);
      color:rgb(0,0,0);
    }

    100%{
      transform:scale(.5);
      color:rgb(255,255,255);
    }
  }
}